default:
  image: dbogatov/docker-images:alpine-extras-latest-multi-arch
  retry: 2
  tags:
    - docker

# disable detached pipelines
workflow:
  rules:
    - if: $CI_MERGE_REQUEST_ID
      when: never
    - when: always

stages:
  - build
  - review
  - test
  - release

variables:
  DOMAIN: "vldb-2026.dbogatov.org"
  INDEX: "index.html"
  DIST: "dist"
  DOCKER_TLS_CERTDIR: ""
  URLS: index officers call-for-research-track important-dates formatting-guidelines submission-guidelines sponsorship
  PAGES_PREFIX: "$CI_COMMIT_SHORT_SHA"

  CI_REF: &ref 98d7111403217b4452a352da40cecfe2b19fe934

include:
  # REVIEW
  # https://git.dbogatov.org/templates/ci-snippets/-/blob/master/simple-website/review/review-pages.yml
  - project: "templates/ci-snippets"
    file: "simple-website/review/review-pages.yml"
    ref: *ref

  # TEST
  # https://git.dbogatov.org/templates/ci-snippets/-/blob/master/simple-website/bli.yml
  - project: "templates/ci-snippets"
    file: "simple-website/bli.yml"
    ref: *ref

  # https://git.dbogatov.org/templates/ci-snippets/-/blob/master/simple-website/tidy.yml
  - project: "templates/ci-snippets"
    file: "simple-website/tidy.yml"
    ref: *ref

  # RELEASE
  # https://git.dbogatov.org/templates/ci-snippets/-/blob/master/simple-website/pages.yml
  - project: "templates/ci-snippets"
    file: "simple-website/pages.yml"
    ref: *ref

build:
  image: dbogatov/docker-images:python-extras-latest-multi-arch
  stage: build
  before_script:
    - /usr/bin/env python3 -m pip install -r requirements.txt
  script:
    - ./build.py --base https://vldb.org/2026
    - ./build.py --base "${CI_PAGES_URL}/${PAGES_PREFIX}" --dist review-dist --use-cache
  artifacts:
    expire_in: 30 min
    paths:
      - dist
      - review-dist
      - deploy.sh
  tags:
    - docker

pages-prod:
  extends: .pages
  environment:
    name: "Pages prod deployment"
    url: "https://${DOMAIN}"
  artifacts:
    paths:
      - dist
  publish: dist
  only: []

tidy:
  variables:
    BASE: ${CI_PAGES_URL}
  allow_failure: true

bli:
  variables:
    BASE: ${CI_PAGES_URL}
    allow_failure: true
    BLC_EXCLUDE: "-s *.js* -s *vldb.org*"

# Issue with connecting to FTP from runners.
upload-vldb:
  image: dbogatov/docker-sources:debian--stable-slim-multi-arch
  stage: release
  variables:
    GIT_STRATEGY: none
  dependencies:
    - build
  script:
    - apt-get update -y
    - apt-get install -y ftp curl
    - ./deploy.sh
  tags:
    - docker
  only:
    - master
