{% extends "templates/layout.html.j2" %}

{% block title %}Call for Contributions - Demonstrations{% endblock %}

{% set current = "call-for-demonstrations" %}

{% block content %}
    {%- filter markdown -%}
        {{ call_for_contributions.demonstrations.content }}
    {% endfilter %}

    {% if call_for_contributions.demonstrations.pc_chairs
        or call_for_contributions.demonstrations.associate_editors
        or call_for_contributions.demonstrations.pc_members %}
        <section class="officers">
            <div class="officers-grid officers-grid--single officers-grid--lg officers-grid--compact">
                {% if call_for_contributions.demonstrations.pc_chairs %}
                    <div class="officer-block">
                        <h4>Demo Track Chairs</h4>
                        {% for chair in call_for_contributions.demonstrations.pc_chairs %}
                            <div>
                                <strong>{{ chair.name }}</strong>,
                                {{ chair.affiliation }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if call_for_contributions.demonstrations.associate_editors %}
                    <div class="officer-block">
                        <h4>Associate Editors (Meta Reviewers)</h4>
                        {% for editor in call_for_contributions.demonstrations.associate_editors %}
                            <div>
                                <strong>{{ editor.name }}</strong>,
                                {{ editor.affiliation }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if call_for_contributions.demonstrations.pc_members %}
                    <div class="officer-block">
                        <h4>Program Committee (Reviewers)</h4>
                        {% for member in call_for_contributions.demonstrations.pc_members %}
                            <div>
                                <strong>{{ member.name }}</strong>,
                                {{ member.affiliation }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </section>
    {% endif %}
{% endblock %}
