{% extends "templates/layout.html.j2" %}

{% block title %}Call for Contributions - Demonstrations{% endblock %}

{% set current = "call-for-demonstrations" %}

{% block content %}
    {%- filter markdown -%}
        {{ call_for_contributions.demonstrations.content }}
    {% endfilter %}
{% endblock %}
