{% extends "templates/layout.html.j2" %}

{% block title %}VLDB 2026 Shadow PC{% endblock %}

{% set current = "shadow-pc" %}

{% block content %}
    {%- filter markdown -%}
        {{ general_information.shadow_pc.content }}
    {% endfilter %}
    
    <section class="officers">
        <h2>Shadow PC Members</h2>
        {% for officer in general_information.shadow_pc.officers %}
            <div>
                <strong>{{ officer.name }}</strong>,
                {{ officer.affiliation }}
            </div>
        {% endfor %}
    </section>
    
{% endblock %}
