{% extends "templates/layout.html.j2" %}

{% block title %}Sponsorship{% endblock %}

{% set current = "sponsorship" %}

{% block content %}
   <section class="sponsorship">
         {%- filter markdown -%}

# {{ data.name }}: Sponsorship Opportunities

[VLDB 2026 Sponsorship Brochure](__BASE__/assets/VLDB26-SponsorBrochure.pdf)

### Who are we?

VLDB, started in 1975 in Framingham, MA, USA, is the premier international database conference held annually.
Several countries across six continents have hosted VLDB since then.
It has introduced numerous influential concepts such as "Big Data", "Data Science", and "Cloud" before these terms became widely used.
Some of the seminal and highly cited research papers on these topics were published in our conference.
For more than half a century now, and after an explosive growth in the computing industry, VLDB remains the home for the latest cutting-edge research and industrial innovation in the data arena.
Even today, the technology and research presented at our conference is typically 5 to 10 years ahead of its time.
{{ data.name }} will be held in {{ data.location }}, on {{ data.dates }} — coming back to its birthplace after 51 years.

### Sponsorship Benefits

VLDB draws more than 1000 attendees every year.
Many sponsors use VLDB to meet and hire the leading data architects, practitioners, and scientists of our generation.
The top talent in our community includes some of the brightest minds with big data and large-scale AI data systems experience.
Furthermore, VLDB provides sponsor companies a platform not only to promote their most innovative technology and products, but also to meet representatives from other sponsor companies in the big data space.
Using the complimentary registrations offered to sponsors, their employees can gain access to VLDB's vibrant community of academic and industrial database experts and their latest work, enabling professional networking and development.
Please see below for a more detailed description of our sponsorship options and benefits.

### Sponsorship Chairs

- Ibrahim Sabek, University of Southern California, USA
- Jing Tang, The Hong Kong University of Science and Technology (Guangzhou), China
- Nesime Tatbul, Intel Labs and MIT, USA

If you are interested in sponsoring {{ data.name }} or have any questions about the VLDB sponsorship opportunities in general, please feel free to reach out to us at: vldb2026-sponsorship@googlegroups.com

## Sponsorship Categories

VLDB sponsorships are categorized into two types:

- Conference Sponsorship
- Endowment Sponsorship

The Conference Sponsorship funds a specific conference (such as this year's {{ data.name }}), where the benefits to the sponsors are largely restricted to the time of the conference; while the Endowment Sponsorship provides additional benefits all year round.

## {{ data.name }} Conference Sponsorship

As detailed below, there are multiple conference sponsorship levels for {{ data.name }}, including a special one for exhibitors/publishers.
Please note that the sponsorship amounts are exclusive of any applicable taxes.

         {% endfilter %}

         <h3>Sponsorship Levels</h3>
         <div class="sponsorship-cards">
            {% for tier in sponsorship.opportunities.tiers %}
            <div class="sponsor-card card-{{ tier.color }}">
               <div class="sponsor-card-header">
                  <h4>{{ tier.name }}</h4>
                  <div class="price">US$ {{ "{:,}".format(tier.price) }}</div>
               </div>
               <div class="sponsor-card-body">
                  <ul>
                     {% for benefit in tier.benefits %}
                     <li>{{ benefit }}</li>
                     {% endfor %}
                  </ul>
               </div>
            </div>
            {% endfor %}
         </div>

         {%- filter markdown -%}

## VLDB Endowment Sponsorship

VLDB invites companies wishing to sponsor the VLDB Conference to become endowment sponsors.
Recently introduced in 2022, the Endowment Sponsorship Program hopes to foster increased collaboration and dialogue between the sponsoring companies and the VLDB research community by providing enhanced benefits to VLDB's corporate partners.
Endowment sponsorships are intended for companies/organizations with a longer-term interest in database research and development who wish to stay connected with the VLDB community.
The expectation is that such companies would stay engaged with and sponsor VLDB over multiple years and would benefit from the increased level of benefits that such a sponsorship will provide.
Endowment sponsors at a given level (e.g., Platinum) are automatically conference sponsors at the same level for the given year.
In addition to all the benefits that a VLDB conference sponsorship offers at the given level, the endowment sponsors will further receive recognition as a VLDB Endowment Sponsor at all VLDB events year round, such as summer schools, sponsored workshops, etc.
For further information about the VLDB Endowment Sponsorships, please contact Anand Deshpande (Persistent).

         {% endfilter %}
   </section>
{% endblock %}
